body {
  background-color: #519259;
}
img{
  margin: auto;
  display: block;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  height: 0px;
  width: 10%;
}

h1 {
  color: #F0BB62;
  text-align: center;
}

h3 {
  color: #F4EEA9;
  text-align: center;
}

p {
  text-align: center;
}

ul {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

ol {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

img{
  background-color: white;
}

.circular{
  border-radius: 100%;
}

.center {

  margin-left: auto;
  margin-right: auto;
}
